.d3-radar {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.d3-radar .title {
  font-size: 34px;
}

.d3-radar .grid {
  fill: none;
  stroke: #bbb;
  stroke-width: 1px;
}

.d3-radar .ring-label {
  fill: #e5e5e5;
  font-size: 42px;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

.d3-radar .legend-title {
  font-size: 18px;
}

.d3-radar .legend-ring {
  font-size: 12px;
  font-weight: bold;
}

.d3-radar .legend-item {
  font-size: 11px;
}

.d3-radar .legend-item.legend-highlight {
  fill: #fff;
  filter: url("#legend-highlight-filter");
}

#legend-highlight-filter feFlood {
  flood-color: #000;
  flood-opacity: 0.8;
}

.d3-radar .blip text {
  fill: #fff;
  font-size: 9px;
  pointer-events: none;
  user-select: none;
}

.d3-radar .bubble {
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
}

.d3-radar .bubble rect,
.d3-radar .bubble path {
  fill: #333;
}

.d3-radar .bubble text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  fill: #fff;
}
